@page
@model Cartridge.Views.Shared._LandingTrendingModel
@section Styles {
    <link rel="stylesheet" href="~/css/pages/home.css" />
}
@{
 
}


<div class="d-flex flex-column row-gap-4">
    <div class="text-subheader">Currently Trending</div>
    <div class="d-flex column-gap-3">
        <div class="gamecard bg-white" style="">
            Some
        </div>
        <div class="gamecard bg-white" style="">
            Some
        </div>
        <div class="gamecard bg-white" style="">
            Some
        </div>
        <div class="gamecard bg-white" style="">
            Some
        </div>
        <div class="gamecard bg-white" style="">
            Some
        </div>
        <div class="gamecard bg-white" style="">
            Some
        </div>




    </div>

</div>