

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cartridge</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cartridge.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/pages/home.css" />
    <link rel="stylesheet" href="~/css/pages/login.css" />
</head>
<body>
    <div class="container " style="padding-top: 15px;">
        <div class="site-header text-header d-flex justify-content-between w-100 ">
            <a href="/" class="d-flex align-items-center column-gap-3 logo-header">
                <img src="~/images/cartridge.png" alt="Cartridge logo" style="image-rendering: pixelated;" width="64" height="64" />
                <div class="text-decoration-none">Cartridge</div>
            </a>
            <partial name="_TopBar" />
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3" style="padding-top: 60px;">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white text-muted">
        <div class="container text-white">
            &copy; 2026 - Cartridge - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
