@using Microsoft.AspNetCore.Html;
@{
    bool isLoggedIn = User.Identity.IsAuthenticated;
}


<body>
    <head>
        <link rel="stylesheet" href="~/css/pages/navbar.css" />
    </head>
    <div class="navbar-body text-primarycstm font-body">
        <div class="text-std">
            @if (isLoggedIn)
            {
                <a href="/account" class="text-primarycstm text-decoration-none text-std column-text">@(User.Identity.Name)</a>
            }
            else
            {
                <a href="/auth/login" class="text-primarycstm text-decoration-none text-std column-text">Login</a>
            }

        </div>
        <a class="text-std column-text text-primarycstm text-decoration-none" href="/games/">
            Games
        </a>
        <a class="text-std column-text text-primarycstm text-decoration-none" href="/lists/">
            Lists
        </a>
        <div style="display:flex;align-items:center;gap:12px">
            <form method="get" action="/games" class="nav-search">
                <i class="ti ti-search" style="font-size:14px;color:#4a4538"></i>
                <iconify-icon width="16px" height="16px" class="ti ti-search" style="color:#4a4538;" icon="mdi:search"></iconify-icon>
                <input type="text" name="search" placeholder="Search games..." />
            </form>
            <div class="nav-avatar">MK</div>
        </div>
   
    </div>
</body>
