@model IEnumerable<Cartridge.Models.GameViewModel>

@{
    
}



<div class="d-flex flex-column row-gap-3">
    <div class="muted-header">// OUR TOP PICKS</div>
    <div class="game-grid column-gap-3 justify-content-between w-100 overflow-none">
        @foreach (var game in Model)
        {
            <a href="/games/@game.ID" class="d-flex flex-column row-gap-1 text-decoration-none">
                <div class="gamecard-wrapper">
                    <img src="@game.CoverImageURL" alt="@game.Name" class="gamecard" />
                </div>
                <div class="align-self-center game-title">
                    @game.Name
                </div>
            </a>

        }
    </div>

 
</div>