@using Microsoft.AspNetCore.Html;
@{
    bool isLoggedIn = User.Identity.IsAuthenticated;
}




<div class="d-flex column-gap-2 align-items-center">
    <div class="text-std">
        @if (isLoggedIn)
        {
            <a href="/account" class="text-decoration-none text-std">@(User.Identity.Name)</a>
        }
        else
        {
            <a href="/auth/login">Login</a>
        }

    </div>
    <input class="login-input text-std" placeholder="Search..." />
   
</div>

