
@model Cartridge.Models.User
@{
    var Biostring = Model.Bio ?? "No bio.";
} 



<div class="d-flex flex-column row-gap-1" 
    style="margin-top: 60px">
    
    <div class="d-flex flex-column">
        <hr class="w-100" />
        <div class="d-flex align-content-center column-gap-3">
            <div>User: </div>
            <div>@Model.Username</div>
        </div>
        
    </div>
    <div class="d-flex flex-column">
        <hr class="w-100" />
        <div class="d-flex align-content-center column-gap-3">
            <div>Bio: </div>
            <div>@Biostring</div>
        </div>

    </div>
    <div class="d-flex flex-column">
        <hr class="w-100" />
        <div class="d-flex flex-column align-content-center column-gap-3">
            <div>Profile Picture:</div>
            <img src="@(Model.ImageURL ?? "/images/cartridge.png")" alt="@Model.Username" class="rounded-circle" style="width: 60px; height: 60px;" />
            <div>Update</div>
        </div>

    </div>
    
</div>
